<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YourGameAccounts.Properties.Settings.GameAccountsConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\GameAccounts.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="YourGameAccounts.Properties.Settings.AccountString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\My Documents\Visual Studio 2013\Projects\YourGameAccounts\YourGameAccounts\bin\Debug\GameAccounts.mdf&quot;;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>